.page-header {
	display: flex;
	flex-direction: column;
	width: 320px;
	background-color: red;
	margin-right: auto;
	margin-left: auto;


	&__logo {
		width: 100%;
		min-height: 70px;
		box-sizing: border-box;
		padding: 20px;
		background-color: @nav-color;
	}
}
